.homepage {
    display: flex;
    flex-direction: column;
    height: 100%;
    &__live-channels {
        height: 100%;
        display: flex;
        margin-top: 2.5rem;
        &--main {
            flex: 2 0 auto;
            padding-right: 40px;
            &__search {
                display: flex;
                align-items: stretch;
                & > *:nth-child(2){
                    display: flex;
                    align-items: center;
                    background: #fb6d3a;
                    flex: 0 0 auto;
                    color: white;
                    font-size: 2rem;
                    padding: 17px 15px;
                    border-radius: 14px;
                    font-style: italic;
                    font-weight: bold;
                    & > *:first-child {
                        margin-right: 10px;
                    }
                }
                form {
                    flex: 2 0 auto;
                    margin-right: 10rem;
                    label {
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            left: 20px;
                            top: -3px;
                            bottom: 0;
                            width: 30px;
                            background: url('./../../search-solid.svg');
                            background-repeat: no-repeat;
                            background-size: contain;
                            height: 25px;
                        }
                    }
                    input {
                        padding: 7px 30px 7px 70px;
                        width: calc(100% - 50px);
                        background: #e2e1e1;
                        border: none;
                        height: calc(100% - 12px);
                        font-size: 2rem;
                        border-radius: 10px;
                        &:focus {
                            outline: none;
                        }
                        &::placeholder {
                            font-size: 2rem;
                            color: darkgray
                        }
                    }
                }
            }
            &__recommended {
                margin-top: 4rem;
                h1 {
                    color: #353535;
                    font-family: 'Lato', sans-serif;
                }
                &--video {
                    height: 100%;
                    display: flex;
                    border-radius: 50px;
                    margin-top: 3rem;
                    box-shadow:  7px 3px 20px 0px rgba(0, 0, 0, 0.6);
                    &__player {
                        flex: 2 0 60%;
                        height: 450px;
                        background: url('./../../streamer-playing.PNG');
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: top center;
                        border-top-left-radius: 30px;
                        border-bottom-left-radius: 30px;
                        position: relative;
                        .left-side {
                            position: absolute;
                            top: 3rem;
                            left: 4rem;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            span {
                                text-transform: uppercase;
                                color: white;
                                &:nth-of-type(1){
                                    font-size: 2rem;
                                    margin-right: 2rem;
                                    background: rgb(255, 4, 46);
                                    padding: .3rem 1rem;
                                    border-radius: 10px;
                                    font-weight: bold;
                                }
                                &:nth-of-type(2){
                                    border: 4px solid white;
                                    padding: .1rem .2rem;
                                    font-size: 1.5rem;
                                }
                            }
                        }
                        .bottom-side {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 90%;
                            display: flex;
                            justify-content: space-between;
                            padding: 2rem 3rem;
                            color: white;
                            font-size: 2.5rem;
                            & > *:first-child {
                                margin-right: auto;
                            }
                            & > div {
                                & > * {
                                    cursor: pointer;
                                }
                                & > *:first-child {
                                    margin-right: 3rem;
                                }
                            }
                        }
                    }
                    &__details {
                        flex: 1 0 25%;
                        background: linear-gradient(200deg, rgba(108,131,151,1) 20%, rgba(104, 180, 255, 0.788) 75%);
                        border-top-right-radius: 30px;
                        border-bottom-right-radius: 30px;
                        padding: 30px 16px;
                        &--raw {
                            display: flex;
                            align-items: center;
                            &__img {
                                background: url('./../../streamer-playing.PNG');
                                background-position: top center;
                                background-repeat: no-repeat;
                                background-size: cover;
                                border-radius: 100%;
                                height: 80px;
                                width: 80px;
                                margin-right: 20px;
                                flex: 0 0 auto;
                                border: 3px solid rgb(190, 4, 190);
                                position: relative;
                                &::after {
                                    content: '';
                                    position: absolute;
                                    bottom: 0;
                                    right: 2px;
                                    width: 20px;
                                    height: 20px;
                                    background: #51ff0d;
                                    border-radius: 100%;
                                }
                            }
                            &__name {
                                flex: 1 0 auto;
                                font-family: 'Baloo 2', sans-serif;
                                & > *:last-child {
                                    font-weight: bold;
                                    font-size: 1.4rem;
                                    font-family: 'Open Sans', sans-serif;
                                }
                                & > *:nth-child(2){
                                    color: white;
                                }
                            }
                        }
                        &--tags {
                            display: flex;
                            justify-content: flex-start;
                            width: 100%;
                            margin-top: 20px;
                            span {
                                margin-right: 10px;
                                background: darkgrey;
                                color: #f3f3f3;
                                padding: 3px 10px;
                                font-size: 1.6rem;
                                border-radius: 15px;
                                &:nth-last-of-type(){
                                    margin-right: 0;
                                }
                            }
                        }
                        &--description {
                            color: #f3f3f3;
                            font-family: 'Sen', sans-serif;
                            font-weight: bold;
                            font-size: 1.7rem;
                            line-height: 1.3;
                            margin-top: 20px;
                            & > *:not(:last-child){
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
            }  
        }
        &--aside {
            flex: 1 0 14%;
            height: 100%;
            & > *:not(:last-child){
                margin-bottom: 20px;
            }
            &__img {
                height: 80px;
                background: url('./../../streamer-playing.PNG');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top center;
                border-radius: 15px;
                box-shadow:  7px 3px 20px 0px rgba(0, 0, 0, 0.6);
                &.larger {
                    height: 150px;
                }
            }
            &__consoles {
                display: flex;
                justify-content: space-between;
                span {
                    padding: 15px 20px;
                    border-radius: 20px;
                    font-size: 4rem;
                    color: white;
                    box-shadow:  7px 3px 20px 0px rgba(0, 0, 0, 0.6);
                    background: linear-gradient(124deg, rgba(63,94,251,1) 0%, rgba(200,59,255,0.9668242296918768) 100%);
                }
            }
        }
    }
}