@import "./variables";

*, *::after, *::before {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%; // 1rem = 10px
}

body {
    font-family: $defaultFont;
    box-sizing: border-box;
    font-size: 1.6rem;
}

h1, .h1 {
    
}

h2, .h2 {
    
}

h3, .h3 {
    
}

h4, .h4 {
    
}

p {

}

a {
    &:link, &:hover, &:focus, &:visited {
        text-decoration: none;
    }
}