@import "./variables";

*, *::after, *::before {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%; // 1rem = 10px
}

body {
    font-family: $defaultFont;
    box-sizing: border-box;
    font-size: 1.6rem;
    background: $themePrimary
}

h1, .h1 {
    font-size: 3.2rem;
}

h2, .h2 {
    font-size: 2.4rem;
}

h3, .h3 {
    font-size: 1.872rem;
}

h4, .h4 {
    font-size: 1.6rem;
}

p {
    font-size: 1.6rem;
}

a {
    &:link, &:hover, &:focus, &:visited {
        text-decoration: none;
        color: lightgrey
    }
}

label, input {
    width: 100%;
}

label {
    font-size: 2rem;
}


// Common page designs (classes)


.main-app {
    display: flex;
    height: 100%;
    min-height: 100vh;
    & > * {
        &:first-child {
            flex: 0 0 300px;
        }
        &:last-child {
            flex: 1;
            background: white;
            border-top-left-radius: 50px;
            padding: 4rem 6rem;
        }
    }
    &__sites {
        display: flex;
        flex-direction: column;
        &--nav {
            display: flex;
            &__arrows {
                display: flex;
                justify-content: space-between;
                margin-right: auto;
                padding: 10px 5px;
                width: 8rem;
                color: darkgrey;
                font-size: 2rem;
                & > *:first-child {
                    margin-right: 20px;
                }
                & > * {
                    cursor: pointer;
                }
            }
            &__settings {
                display: flex;
                justify-content: space-between;
                padding: 10px 5px;
                align-items: center;
                color: darkgrey;
                font-size: 3rem;
                & > *:not(:last-child){
                    margin-right: 2.5rem;
                }
                & > * {
                    cursor: pointer;
                }
            }
        }
    }
}

.main-page-title {
    color: $themeGray;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
}

.input {
    margin-top: 1rem;
    padding: 1rem 1.2rem;
    background: none;
    border: 2px solid lightgrey;
    border-radius: 10px;
    transition: .2s all ease-in-out;
    &:focus {
        outline: none;
    }
    &.input-primary {
        &:focus {
            border: 2px solid $themePrimary;
        }
    }
    &.input-error {
        border: 2px solid $themeRed;
    }
}


.btn {
    padding: 1.5rem .5rem;
    min-width: 50%;
    border: 2px solid $themePrimary;
    border-radius: 20px;
    background: none;
    font-size: 1.6rem;
    cursor: pointer;
    transition: .2s all ease-in-out;
    font-weight: bold;
    outline: none;
    color: $themeGray;
    &.btn-primary {
        &:hover, &:active, &:focus {
            background: $themePrimary;
            color: white;
        }
    }
    &.btn-danger {
        &:hover, &:active, &:focus {
            background: $themeRed;
            color: white;
            border: 2px solid $themeRed;
        }
    }
    &.btn-success {
        &:hover, &:active, &:focus {
            background: $themeGreen;
            color: white;
            border: 2px solid $themeGreen;
        }
    }
}

.form-error {
    color: $themeRed;
    font-size: 1.6rem;
    margin-top: 5px;
    font-weight: bold;
}

.loader-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}