$defaultFont: 'Open Sans', sans-serif;
$secondaryFont: 'Baloo 2', sans-serif;
$tertiaryFont: 'Roboto', sans-serif;

$themePrimary: #712cdc;
$themeGray: #353535;
$themeLightGray: #3535357a;
$themeRed: rgb(253, 70, 70);